<div class="FirstNav">
    <nav class="NavBar">
        <ul class="NavList">
            <li class="listPage"> <a href="FirstHW"> <button class="Buttons" style="vertical-align:middle" id="HP"><span class="animations"> Home Page </span></button> </a></li>
            <li class="listPage"> <a href="ContactMe"> <button class="Buttons" style="vertical-align:middle" id="Contact-us"> <span> Contact Us </span></button> </a></li>
            <li class="listPage"> <a href="assignment3_1"> <button class="Buttons" style="vertical-align:middle" id="CommonCoffee"> <span> Prices </span></button> </a></li>
            <li class="listPage"> <a href="assignment3_2"> <button class="Buttons" style="vertical-align:middle" id="about"> <span> About Page </span></button> </a></li>
            <li class="listPage"> <a href="assignment_4"> <button class="Buttons" style="vertical-align:middle" id="users"> <span> Users </span></button> </a></li>
        </ul>
    </nav>
</div>